$fontFamily: var(--font-main);

$direction: rtl;

:root {
  --color-primary: #1e2a38;
  --color-primary-dark: #ffffff;
  --color-secondary: #ffffff;
  --color-secondary-dark: #1e2a38;
  --color-pen: #212121;
  --color-pen-light: #959499;
  --color-pen-dark: #424750;
  --color-body: #fff;
  --color-body-dark: #1b242d;
}
